* {
  margin: 0;
  padding: 0;
}

.navigation {
  height: 5vh;
  background: white;
}

.container-nav {
  width: 955px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-link ul {
  display: flex;
  list-style: none;
}
.navigation-link ul li{
  display: flex;
  flex-direction: column;
}
.navigation-link ul li img{
  width: 20px;
}

.main {
  height: 95vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f3f2ef; 
}

.container-main {
  width: 955px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section-profile {
  background: white;
  height: 300px;
  width: 224px;
}

.section-feed{
  background: white;
  height: 300px;
  width: 425px;
}

.section-ads{
  background: white;
  height: 300px;
  width: 263px;
}
