body {
  margin: 0px;
}

.section-hero {
  height: 529px;
}

.section-input {
  background: #6327AD;
  width: 934px;
  height: 104px;
  position: absolute;
  top: 480px;
  margin: 0 243px;
}

.section-statistic{
  height: 500px;
  background: grey;
}
